@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Allura');


html, body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

}

p {
    font-size: calc( 1em + 2px);
}

body {
    color: #303030;
    background-color: #f2f2f2;
    padding-top: 3rem;
    position: relative;
}



@media (max-width: 767px) {
    html {
        font-size: 10px;
    }

    body {
        padding-top: 0;
    }
}

a, button {
    cursor: pointer;
}
.navbar {
    background-color: transparent;
    min-height: 60px;
    padding: 1rem 0;
    z-index: 3;
    border-color: transparent;
}


.navbar.active {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 2s;
    margin-top: 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    transition: all .25s;
}

.navbar:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    transition: all .25s;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #303030;
    font-size: 16px;
    line-height: 1.2;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.navbar .navbar-nav li {
    margin-right: 0.5rem;
}

.navbar .navbar-nav li:last-of-type {
    margin-right: 0;
}


.navbar a.active {
    background-color: #C7BFCF;
}
.navbar-nav a:hover {
    background-color: #C7BFCF;
}

.header {
    background-color: #f2f2f2;
    height: 400px;
    min-height: calc(100vh - 71px - 3rem);
}

.header h1{
    font-size: 100px;
    font-family: 'Allura', cursive;
    color: #4A1A76;
    font-weight: bold;
    line-height: .5;
    opacity: 0;
    visibility: hidden;
    animation: fadeText 1s ease 0.25s forwards;
}

.header h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    visibility: hidden;
    animation: fadeText 1s ease 0.75s forwards;
}

.header .about-link {
    border: 2px solid #4A1A76;
    color: #4A1A76;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    padding: 0 2rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    width: 140px;
    margin: 0 auto;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    animation: fadeText 1s ease 1.25s forwards;
}

.header .about-link:hover {
    background-color: #C7BFCF;
    border: 0;
    width: 180px;
}

.header .scroll-link {
    font-size: 30px;
    opacity: 0;
    animation: fadeTranslate 1s linear 1.5s infinite alternate;
    position: absolute;
    bottom: -40px;
}

.header .scroll-link svg {
    fill: #4A1A76;
    font-size: 40px; 
    width: 30px;
    margin-left: -12px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.header-container .header-img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.header-container>div {
    position: relative;
    min-height: 180px;
    text-align: center;
}


@keyframes fadeTranslate {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(30px);
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding: 0 2rem;
    }

    .navbar-toggler {
        padding: 10px 15px;
        background-color: #C7BFCF;
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler-icon {
        background-color: white;
        height: 3px;
        margin-bottom: 3px;
    }

    .navbar-toggler-icon:last-of-type {
        margin-bottom: 0;
    }

    .navbar .navbar-nav {
        margin: 20px 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 0;
    }

    .navbar .navbar-nav li {
        margin-right: 0;
    }

    .header h1 {
        font-size: calc( 50px + 40 * ((100vw - 300px) / 991));
    }

    .header h2 {
        font-size: calc( 20px + 30 * ((100vw - 300px) / 991));
        margin: 15px;
    }

    .header {

        min-height: 90vh;
    }
}

.section {
    padding: 6rem;
    background-color: white;
}

.section>h2, .section>p {
    text-align: center;
}

.section>p {
    font-size: 18px;
    max-width: 70%;
    margin: 20px auto 0;
}

.section h2:after {
    content: "";
    display: block;
    text-align: center;
    height: 5px;
    width: 50px;
    margin: 5px auto;
    background-color: #C7BFCF;
}

.section.projects-main {
    background-image: url("../img/memphis.svg");
}


.projects-main .h2 {
    margin-bottom: 4rem;
}

.projects-main .row {
    padding: 4rem 0;
    min-height: 300px;
}

.projects-main-row>div, .projects-main-row>article {
    margin-bottom: 4rem;
}

.projects-article-header {
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0 1.5rem;
    opacity: 0;
    visibility: hidden;
    transform-origin: left;
    animation: fadeText 1.5s linear 1s forwards;
    color: #4A1A76;
}

.projects-article-header a {
    color: #4A1A76;

}

.projects-main article {
    min-height: 250px;
}

.projects-main .col-md-6 {
    padding-right: 5%;
}

.projects-main article p {
    opacity: 0;
    visibility: hidden;
    transform-origin: left;
    animation: fadeText 1.5s linear 1.5s forwards;
    color: #404040;
}

.projects-sec-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: minmax(250px, auto);
    margin-top: 4rem;
}

.projects-sec-container picture {
    width: 100%;
    display: block;
    background-color: #f2f2f2;
}

.project-sec {
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #f2f2f2;
}

.project-sec img {
    max-width: 100%;
}


.projects-sec-container h3 {
    font-size: 20px;
    margin: 2rem 0 1rem;
    color: #4A1A76;
}

.projects-sec-container h3 a {
    color: #4A1A76;
}

.projects-image {
    position: relative;
    padding-right: 15px;
}

.projects-image img{
    transform: scaleX(0);
    visibility: hidden;
    z-index: -1;
    transform-origin: 100% 100% ;
    max-width: 100%;
}

.projects-image1 img {
    animation: fade 0s linear 1s forwards;
}

.projects-image2 img {
    animation: fade 0s linear 1.5s forwards;
}

.projects-image3 img {
    animation: fade 0s linear 0.5s forwards;
}

.box-animation {
    box-shadow: 1px 1px 1px 1px #c4c4c4;
    border-radius: 4px;
}

[data-aos="box-animation"]::after {
    content: "";
    position: absolute;
    top: 0;
    height: 250px;
    width: calc(100% - 30px);
    z-index: 2;

}

[data-aos="box-animation"]::after.aos-animate {
    animation: overlay 2s ease 0s;
}

.box-animation1::after {
    animation: overlay 2s ease 0s;
}

.box-animation2::after {
    animation: overlay 2s ease 0.5s;
}

.box-animation3::after {
    animation: overlay 1.5s ease 0.5s;
    width: calc(100% - 5rem - 15px);
}

@keyframes fade {
    100% {
        transform: scaleX(1);
        visibility: visible;
    }
}

@keyframes fadeText {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes overlay {
    0% {
        box-shadow: inset 0 0 0 0px #C7BFCF;
    }
    50% {
        box-shadow: inset -700px 0 0px  0 #C7BFCF;

    }
    100% {
        box-shadow: inset 0 0 0 0px #C7BFCF;
    }
}

.section.articles {
    background-color: white;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    grid-gap: 40px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.article h3 {
    font-size: 18px;
    font-weight: 600;
}

.articles a {
    color: #4A1A76;
}

.article p {
    margin-bottom: 0;
}

.projects-tech {
    font-size: 18px;
}

.articles-more {
    font-size: 16px;
}


/* 
    *
        About Me Section 
    *
*/

.about-me {
    background-color: #f2f2f2;
}

.about-me-container {
    display: flex;
    margin: 4rem auto 0;
}

.about-me picture {
    width: 30%;
    padding-right: 30px;
}

.about-me img {
    max-width: 100%;
}

.about-me article {
    width: 70%;
}


/* 
    *
        Contact Me Section 
    *
*/
.contact-others {
    margin-top: 4rem;

}

.contact-others i{
    font-size: 40px;
    margin-right: 40px;
}

.contact {
    background-color: #a1a1a4;
    color: white;
    padding-bottom: 5rem;
    box-shadow: inset 0 0 0 700px rgba(74, 26, 118, 0.7);
}

.contact .row {
    margin-top: 4rem;
}

.contact-text p {
    font-size: 18px;
    max-width: 80%;
}

.contact-form label{
    width: 100%;
    font-size: 16px;
}
.contact-form input {
    width: 80%;
    height: 42px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 2rem;
    font-size: 16px;
    padding: 10px;
}

.contact-form textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 2rem;
    text-align: left;
    padding: 10px;
}

.contact-form textarea::placeholder {
    color: #828282;
}

.contact-form input[type="submit"] {
    color: #4A1A76;
    font-weight: bold;
}

/* 
    *   
        Small Screens 
    *
*/
@media (max-width: 767px) {
    .section {
        padding: 4rem 2rem;
    }

    .projects-main .row {
        padding: 1rem 0;
    }

    .projects-main .h2 {
        margin-bottom: 2rem;
    }

    .projects-main .col-md-6 {
        padding-right: 2rem;
    }

    .projects-main article {
        min-height: 1px;
    }

    .projects-row-reverse {
        display: flex;
        flex-direction: column;
    }

    .projects-row-reverse .projects-image {
        order: 2;
    }

    .about-me-container {
        flex-direction: column;
    }

    .about-me picture {
        width: 100%;
    }

    .about-me article {
        width: 100%;
    }

    .about-me img {
        max-width: 100%;
        max-height: 240px;
        margin: 0 auto 4rem;
        display: block;
    }

    .contact-text p, .contact-form input, .contact-form textarea {
        max-width: 100%;
        width: 100%;
    }

    .contact-others {
        margin: 2rem 0 4rem;
    }
}

/* Text Colors */
.scss {
    color: #C26B98;
}

.javascript {
    color: #F3DD4F;
}

.html {
    color: #D45736;
}

.bootstrap {
    color: #7B56CA;
}

.react {
    color: #7FD8F7;
}

.highlight {
    color: #4A1A76;
}