.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
}


.navbar-nav {
    display: flex;
    padding-left: 0;
}

.nav-item {
    margin-left: 2rem;
    list-style-type: none;
}

.nav-link {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #303030;
    font-size: 16px;
    line-height: 1.2;
    padding: 1rem 1.5rem;
    border: 2px solid transparent;
}


.nav-link:hover,.nav-link:focus {
    background-color: transparent;
    border-color: #C7BFCF;
}

.nav-link.active {
    background-color: #C7BFCF;
} 

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar {
        background: #fafafa;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .nav-link {
        padding: 0;
    }

    .navbar-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        width: 40px;
        padding: 4px;
        border-radius: 4px;
        border: 2px solid #4A1A76;
    }

    .navbar-toggle span {
        width: 20px;
        height: 4px;
        background-color: #4A1A76;
        display: block;
    }

    .navbar-nav {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 2rem 2rem 1rem;
        background: #fafafa;
        z-index: 2;
        border-bottom: 1px solid #C7BFCF;
    }
}